fastapi
uvicorn[standard]

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-qdrant
langchain-groq
langchain-google-genai

qdrant-client
sentence-transformers

pypdf
python-dotenv
python-multipart
pydantic
pydantic-settings

openai
tiktoken

numpy==2.2.6
rank-bm25

streamlit
pytest
llama-parse
nest-asyncio
ragas
datasets
redis